<script>
  const signoutButton = document.getElementById("signout");
  signoutButton.addEventListener("click", () => {
    fetch("/signout", {
      method: "POST",
    }).then(() => {
      window.location.href = "/";
    });
  });

  // make doughnut chart for proposal get all proposal with status APPROVED and else
  const chart = () => {
    fetch("/proposal")
      .then((res) => res.json())
      .then((data) => {
        let submitted = 0;
        let needapproval = 0;
        let approved = 0;
        let rejected = 0;
        let redesign = 0;
        let installation = 0;
        let closed = 0;
        data.forEach((proposal) => {
          if (
            !proposal.design &&
            !proposal.rab &&
            proposal.status == "SUBMITTED"
          ) {
            submitted++;
          } else if (
            proposal.design &&
            proposal.rab &&
            proposal.status == "SUBMITTED"
          ) {
            needapproval++;
          } else if (proposal.status === "APPROVED") {
            approved++;
          } else if (proposal.status === "REJECTED") {
            rejected++;
          } else if (proposal.status === "REDESIGN") {
            redesign++;
          } else if (proposal.status === "INSTALLATION") {
            installation++;
          } else if (proposal.status === "CLOSED") {
            closed++;
          }
        });
        const ctx = document.getElementById("myChart").getContext("2d");
        const myChart = new Chart(ctx, {
          type: "doughnut",
          data: {
            labels: [
              "SUBMITTED",
              "NEED APPROVAL",
              "APPROVED",
              "REJECTED",
              "REDESIGN",
              "INSTALLATION",
              "CLOSED",
            ],
            datasets: [
              {
                label: "Jumlah Proposal",
                data: [
                  submitted,
                  needapproval,
                  approved,
                  rejected,
                  redesign,
                  installation,
                  closed,
                ],
                backgroundColor: [
                  "rgba(255, 99, 132)",
                  "rgba(54, 162, 235)",
                  "rgba(255, 206, 86)",
                  "rgba(75, 192, 192)",
                  "rgba(153, 102, 255)",
                  "rgba(255, 159, 64)",
                  "rgba(130, 79, 79)",
                ],
                borderColor: [
                  "rgba(255, 99, 132, 1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)",
                  "rgba(130, 79, 79, 1)",
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            plugins: {
              legend: {
                position: "right",
              },
            },
          },
        });
      });
  };

  const dropdown = (s1, s2, s3) => {
    let sel1 = document.getElementById(s1);
    let sel2 = document.getElementById(s2);
    let sel3 = document.getElementById(s3);
    let optarray = [];
    sel3.innerHTML =
      "<option class='disabled selected hidden' value = ''></option>";

    fetch("/api/admin/getAllNamaAlpro")
      .then((res) => res.json())
      .then((data) => {
        data.forEach((namaalpro) => {
          if (sel2.value !== "Feeder" || sel2.value !== "Distribusi") {
            if (namaalpro.name.startsWith(`${sel2.value}-${sel1.value}`)) {
              optarray.push(`${namaalpro.name}|${namaalpro.name}`);
            }
          }
          if (sel2.value === "Feeder") {
            if (namaalpro.name.startsWith("FE-")) {
              optarray.push(`${namaalpro.name}|${namaalpro.name}`);
              console.log(optarray);
            }
          }
          if (sel2.value === "Distribusi") {
            if (
              namaalpro.name.startsWith(`${sel1.value}-FB`) ||
              namaalpro.name.startsWith(`${sel1.value}-FA`)
            ) {
              optarray.push(`${namaalpro.name}|${namaalpro.name}`);
            }
          }

          if (sel2.value === "Tiang") {
            if (namaalpro.name.startsWith("ODP")) {
              optarray.push(`${namaalpro.name}|${namaalpro.name}`);
            }
          }
        });
        for (let option in optarray) {
          let pair = optarray[option].split("|");
          let newOption = document.createElement("option");

          newOption.value = pair[0];
          newOption.innerHTML = pair[1];
          // add the new option
          sel3.innerHTML = sel3.innerHTML + newOption.outerHTML;
        }
      });
  };

  // add active-nav-link class to the current page and add opacity-75 hover:opacity-100 to the other page
  const navLink = document.querySelectorAll(".leftbar");

  navLink.forEach((link) => {
    if (link.href === window.location.href) {
      link.classList.add("active-nav-link");
    } else {
      link.classList.add("opacity-75", "hover:opacity-100");
    }
  });

  const rejectbutton = () => {
    // if class leftbar href is admin then hide report button
    let redesignreject = document.getElementById("redesignreject");

    //add href to redesign reject

    redesignreject.action = "/proposal/approver/reject/<%= proposal._id %>";
  };
  const designerRejectbutton = () => {
    // if class leftbar href is admin then hide report button
    let redesignreject = document.getElementById("redesignreject");

    //add href to redesign reject

    redesignreject.action = "/proposal/designer/reject/<%= proposal._id %>";
  };

  const redesignbutton = () => {
    // if class leftbar href is admin then hide report button
    let redesignreject = document.getElementById("redesignreject");

    //add href to redesign reject

    redesignreject.action = "/proposal/approver/redesign/<%= proposal._id %>";
  };

  const hidemenu = () => {
    // if class leftbar href is admin then hide report button
    let pindah = document.querySelector(".inbox").href.split("/");
    if (pindah[pindah.length - 1] == "admin") {
      document.getElementById("dbmenu").classList.remove("hidden");
      // document.getElementById("adduser").classList.remove("hidden");
      document.getElementById("editpassword").classList.remove("hidden");
      document.getElementById("userpanel").classList.remove("hidden");
    } else if (pindah[pindah.length - 1] == "proposer") {
      document.getElementById("myproposal").classList.remove("hidden");
      document.getElementById("proposer").classList.remove("hidden");
    } else if (pindah[pindah.length - 1] == "designer") {
      document.getElementById("inbox").classList.remove("hidden");
      document.getElementById("completeproposal").classList.remove("hidden");
    } else if (pindah[pindah.length - 1] == "executor") {
      document
        .getElementById("installationproposal")
        .classList.remove("hidden");
      document.getElementById("inbox").classList.remove("hidden");
      document.getElementById("closedproposal").classList.remove("hidden");
    } else if (pindah[pindah.length - 1] == "approver") {
      document.getElementById("inbox").classList.remove("hidden");
    }
  };

  const dbedit = () => {
    let dbedit = document.querySelector(".dbedit");

    if (dbedit.classList.contains("hidden")) {
      dbedit.classList.remove("hidden");
    } else {
      dbedit.classList.add("hidden");
    }
  };

  const adddata = () => {
    const sel1 = document.getElementById("sel1");
    let adddata = document.getElementById("formadd");

    if (sel1.value == "Nama STO") {
      // adddata.action = "/adddata/namasto";
    } else if (sel1.value == "Segmen") {
      // adddata.action = "/adddata/segmen";
    } else if (sel1.value == "Nama Alpro") {
      // adddata.action = "/adddata/alpro";
    } else if (sel1.value == "Jenis QE") {
      // adddata.action = "/adddata/jenisqe";
    }
  };

  const deletedata = async () => {
    const sel1 = document.getElementById("sel1");
    const sel2 = document.getElementById("pilihdata");
    let setdata = [];

    if (sel1.value == "Nama STO") {
      // await fetch data from "/api/admin/getAllNamaSTO"
      let arraysto = [];
      await fetch("/api/admin/getAllNamaSTO")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraysto.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arraysto;

      // change form action to "/api/admin/editNamaSTO"
      // document.getElementById("formedit").action = "/deletedata/namasto";
    } else if (sel1.value == "Segmen") {
      let arraysegmen = [];
      await fetch("/api/admin/getAllSegmen")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraysegmen.push(`${nama.name}|${nama.name}`);
          });
        });

      setdata = arraysegmen;
      // document.getElementById("formedit").action = "/deletedata/segmen";
    } else if (sel1.value == "Jenis QE") {
      let arrayjenisqe = [];
      await fetch("/api/admin/getAllJenisQE")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arrayjenisqe.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arrayjenisqe;
      // document.getElementById("formedit").action = "/deletedata/jenisqe";
    } else if (sel1.value == "Nama Alpro") {
      let arraynamaalpro = [];
      await fetch("/api/admin/getAllNamaAlpro")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraynamaalpro.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arraynamaalpro;
      // document.getElementById("formedit").action = "/deletedata/namaalpro";
    } else if (sel1.value == "Mitra") {
      let arraymitra = [];
      await fetch("/api/admin/getAllMitra")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraymitra.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arraymitra;
      // document.getElementById("formedit").action = "/deletedata/mitra";
    }
    sel2.innerHTML =
      "<option class='disabled selected hidden' value = ''>Choose Data</option>";
    for (let option in setdata) {
      let pair = setdata[option].split("|");
      let newOption = document.createElement("option");

      newOption.value = pair[0];
      newOption.innerHTML = pair[1];
      // add the new option
      sel2.innerHTML = sel2.innerHTML + newOption.outerHTML;
    }

    // add every data to the sel2 dropdown
  };

  const jenisqematch = async () => {
    const sel2 = document.getElementById("sel2");
    const QE = document.getElementById("QE");
    QE.innerHTML =
      "<option class='disabled selected hidden' value = ''>Choose Data</option>";
    fetch("/api/admin/getAllJenisQE")
      .then((res) => res.json())
      .then((data) => {
        data.forEach((jenisQE) => {
          if (jenisQE.name.match(`${sel2.value}`)) {
            //make option for QE

            let newOption = document.createElement("option");
            newOption.value = jenisQE.name;
            newOption.innerHTML = jenisQE.name;
            // add the new option
            QE.innerHTML = QE.innerHTML + newOption.outerHTML;
          }
        });
      });
  };

  const changedata = async () => {
    const sel1 = document.getElementById("sel1");
    const sel2 = document.getElementById("pilihdata");
    let setdata = [];
    sel2.innerHTML =
      "<option class='disabled selected hidden' value = ''>Choose Data</option>";
    if (sel1.value == "Nama STO") {
      // await fetch data from "/api/admin/getAllNamaSTO"
      let arraysto = [];
      await fetch("/api/admin/getAllNamaSTO")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraysto.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arraysto;

      // change form action to "/api/admin/editNamaSTO"
      // document.getElementById("formedit").action = "/changedata/namasto";
    } else if (sel1.value == "Segmen") {
      let arraysegmen = [];
      await fetch("/api/admin/getAllSegmen")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraysegmen.push(`${nama.name}|${nama.name}`);
          });
        });

      setdata = arraysegmen;
      // document.getElementById("formedit").action = "/changedata/segmen";
    } else if (sel1.value == "Jenis QE") {
      let arrayjenisqe = [];
      await fetch("/api/admin/getAllJenisQE")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arrayjenisqe.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arrayjenisqe;
      // document.getElementById("formedit").action = "/changedata/jenisqe";
    } else if (sel1.value == "Nama Alpro") {
      let arraynamaalpro = [];
      await fetch("/api/admin/getAllNamaAlpro")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraynamaalpro.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arraynamaalpro;
      // document.getElementById("formedit").action = "/changedata/namaalpro";
    } else if (sel1.value == "Mitra") {
      let arraymitra = [];
      await fetch("/api/admin/getAllMitra")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraymitra.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arraymitra;
      // document.getElementById("formedit").action = "/changedata/mitra";
    }

    for (let option in setdata) {
      let pair = setdata[option].split("|");
      let newOption = document.createElement("option");

      newOption.value = pair[0];
      newOption.innerHTML = pair[1];
      // add the new option
      sel2.innerHTML = sel2.innerHTML + newOption.outerHTML;
    }

    // add every data to the sel2 dropdown
  };

  //ambil data proposal dari database berdasarkan parameter id
  const selected = () => {
    const id = window.location.pathname.split("/")[2];
    // tambahkan selected pada option yang sesuai dengan data yang diambil dari database pada namaSTO, namaAlpro, dan namaQE
    fetch(`/api/admin/proposal/${id}`)
      .then((res) => res.json())
      .then((data) => {
        // set attribute selected pada option yang sesuai dengan data yang diambil dari database
        const sel1 = document.getElementById("sel1");
        const sel2 = document.getElementById("sel2");
        const sel3 = document.getElementById("sel3");
        const textalpro = document.getElementById("textalpro");
        const sel4 = document.getElementById("QE");
        const sel5 = document.getElementById("koordinat");
        const sel6 = document.getElementById("keterangan");

        //set attribute selected pada option yang sesuai dengan data yang diambil dari database
        sel1.value = data.namaSTO;
        sel2.value = data.segmen;
        textalpro.value = data.namaAlpro;
        sel4.value = data.jenisQE;
        sel5.value = data.koordinat;
        sel6.value = data.keterangan;
      });
  };
</script>
