<div class="max-w-7xl bg-white rounded-lg overflow-hidden shadow-md">
<form id="form-add" action="" method="post" class="w-full p-6">
  <div class="md:items-center mb-6">
    <div class="md:w-1/3">
      <label
        class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
        for="inline-full-name"
      >
        Jenis
      </label>
    </div>
    <div class="relative md:min-w-max z-10">
      <select
        name="jenis"
        class="bg-white appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
        id="sel1"
        onchange="adddata()"
        type="text"
        required
      >
        <option value=""disabled selected hidden>Pilih Jenis</option>
        <option value="Nama STO">Nama STO</option>
        <option value="Segmen">Segmen</option>
        <option value="Nama Alpro">Nama Alpro</option>
        <option value="Jenis QE">Jenis QE</option>
        <option value="Mitra">Mitra</option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>
  </div>

  <div class="md:items-center mb-6">
    <div class="md:w-1/3">
      <label
        class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
        for="inline-password"
      >
        Data Baru
      </label>
    </div>
    <div class="relative md:min-w-max z-10">
      <input
        name="namebaru"
        id="sel3"
        class="bg-white appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
        type="text"
        placeholder="Input Data Baru"
        required

      />
      
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      ></div>
    </div>
  </div>

  <div class="md:flex md:items-center mb-1">
    <div class="md:w-1/3">

    </div>
  </div>
  <div class="md:flex md:items-end">
    <div class="md:flex md:w-full justify-end">
      <input
        id="add-btn"
        class="shadow-lg bg-green-500 hover:bg-white hover:text-green-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" style="outline-style: solid; outline-color: #39b846; outline-width: 2px;"
        type="submit"
      ></input>
    <input
        class="shadow-lg bg-green-500 hover:bg-white hover:text-green-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded ml-3" style="outline-style: solid; outline-color: #39b846; outline-width: 2px;"
        type="button"
        value="Add with Batch"
        onclick="window.location.href='/batch'"
      ></input>

    </div>

    
  </div>
</form>
</div>
<script>
  // const form = document.getElementById("form-add");
  const btn = document.getElementById("add-btn");
  const form = document.getElementById("form-add");
  
    // ajax request
  form.addEventListener("submit", (e) => {
    const select1 = document.getElementById('sel1').value
    const select3 = document.getElementById('sel3').value

    e.preventDefault();
    const data = new FormData(form);
    const xhr = new XMLHttpRequest();
    xhr.open("POST", "/adddata");
    xhr.onload = () => {
      if (xhr.status === 200) {
        Swal.fire({
        title: "Add " + select1,
        text: select1 + " " + select3 + " Has Been Successfully Added!",
        icon: "success",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "/adddata";
        }
      })
        
      } else {
        Swal.fire({
        title: "Add " + select1,
        text: select1 + " " + select3 + " Failed to Add!",
        icon: "error",
      }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "/adddata";
      }
    })
      }
    };
    xhr.send(data);


});


</script>
<%- include('./js/js.ejs') %>
