<div class="max-w-7xl bg-white rounded-lg overflow-hidden shadow-md">
<form id="form-add" action="" method="post" class="w-full p-6">
    <div class="md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
          for="inline-full-name"
        >
          User
        </label>
      </div>
      <div class="relative md:min-w-max z-10">
        <select
          name="user"
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          id="user"
          type="text"
          required
        >
        <% user.forEach((name) => { %>
            <option value="" disabled selected hidden><%= name.username %></option>
            <option value="<%= name.username %>"><%= name.username %></option>
          <% }); %>
        </select>
        <p id="userdiisi" class="text-red-500 text-xs italic "></p>
      </div>
    </div>
  
    <div class="md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
          for="inline-password"
        >
          New Password
        </label>
      </div>
      <div class="relative md:min-w-max z-10">
        <input
          name="passwordbaru"
          id="passwordbaru"
          class="bg-white appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          type="text"
          placeholder="Input New Password"
          required
        />
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        ></div>
        <p id="passwordbarudiisi" class="text-red-500 text-xs italic "></p>
      </div>
    </div>
  
    <div class="md:flex md:items-center mb-1">
      <div class="md:w-1/3"></div>
    </div>
    <div class="md:items-end">
      <div class="md:flex md:w-full justify-end">
        <input
          id="add-btn"
          class="shadow-lg bg-green-500 hover:bg-white hover:text-green-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" style="outline-style: solid; outline-color: #39b846; outline-width: 2px;"
          type="submit"
        ></input>
      </div>
    </div>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
  var form = document.getElementById("form-add");
  var btn = document.getElementById("add-btn");

  btn.addEventListener("click", function (event) {
    event.preventDefault();
    var user = document.getElementById("user").value;
    var passwordbaru = document.getElementById("passwordbaru").value;

    if (user == "") {
      //type catatan tidak boleh kosong under textarea with red color
      document.getElementById("userdiisi").innerText =
        "user cannot be empty";
    } else {
      document.getElementById("userdiisi").innerText = "";
    } 
    
    if(passwordbaru == ""){
      document.getElementById("passwordbarudiisi").innerText =
        "new password cannot be empty";
    } else {
      document.getElementById("passwordbarudiisi").innerText = "";
    } 
    
    if (user != "" && passwordbaru != "") {
    Swal.fire({
      title: 'Change Password',
      text: "Are You Sure Want to Change Password ?",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, change it!'
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire(
          'Changed!',
          'Password is Successfully Changed!',
          'success'
       ).then(() => {
        form.submit();
       })
      }
    })
    }
  });
$('#user').select2(
    {
      placeholder: 'Choose User',
      allowClear: true
    }
  );
</script>

<%- include('./js/js.ejs') %>
