<form id="formEditUserData" action="" method="POST">
  <div class="bg-white shadow-md rounded-lg px-4 py-6 dark:bg-gray-800">
    <div class="mb-4">
      <label
        class="uppercase block text-gray-700 dark:text-gray-400 font-semibold mb-2"
      >
        Username
      </label>
      <input
        type="text"
        name="username"
        class="form-input block w-full text-gray-800 bg-white border border-gray-300 rounded-lg dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray text-lg pl-2 pr-8"
        placeholder="Input Username"
        value="<%= user.username %>"
      />
    </div>
    <div class="mb-4">
      <label
        class="uppercase block text-gray-700 dark:text-gray-400 font-semibold mb-2"
      >
        Name
      </label>
      <input
        type="text"
        name="name"
        class="form-input block w-full text-gray-800 bg-white border border-gray-300 rounded-lg dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray text-lg pl-2 pr-8"
        placeholder="Jane Doe"
        value="<%= name %>"
      />
    </div>
    <div class="mb-4">
      <label
        class="uppercase block text-gray-700 dark:text-gray-400 font-semibold mb-2"
      >
        Role
      </label>
      <div class="relative">
        <select
          id="roleBaru"
          name="roleBaru"
          class="form-input block w-full pr-12 sm:text-sm sm:leading-5 bg-white border border-gray-300 rounded-lg shadow-md dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
        >
          <option value="proposer">Proposer</option>
          <option value="designer">Designer</option>
          <option value="approver">Approver</option>
          <option value="executor">Executor</option>
          <option value="admin">Admin</option>
        </select>
        <div
          class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none"
        >
          <svg
            class="h-5 w-5 text-gray-400"
            viewBox="0 0 20 20"
            fill="none"
            stroke="currentColor"
          >
            <path d="M7 7l3-3 3 3m0 6l-3 3-3-3" />
          </svg>
        </div>
      </div>
    </div>
    <div class="mb-4">
      <button
        type="submit"
        id="button-edit"
        class="button-edit py-2 px-4 bg-purple-600 hover:bg-purple-700 focus:ring-purple-500 focus:ring-offset-purple-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
      >
        Update User
      </button>
    </div>
  </div>
</form>

<script>
  //add selected to roleBaru option based on user role
  const roleBaru = document.getElementById("roleBaru");
  const userRole = "<%= user.roles?.name %>";
  const options = roleBaru.options;
  for (let i = 0; i < options.length; i++) {
    if (options[i].value === userRole) {
      options[i].setAttribute("selected", "selected");
    }
  }

  // get buttons with classname button-delete
  const form = document.getElementById("formEditUserData");
  const btns = document.querySelectorAll(".button-edit");
  // for every button, add event listener
  btns.forEach((btn) => {
    btn.addEventListener("click", (e) => {
      e.preventDefault();

      // get the id from data-id attribute
      // const id = e.target.getAttribute("data-id");

      // // set the value of the hidden input to the id
      // document.querySelector("#id").value = id;

      Swal.fire({
        title: "Change User Data",
        text: "Are You Sure Want To Change User Data",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, Change it!",
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            "Updated!",
            "User Data Has Been Successfully Changed",
            "success"
          ).then(() => {
            form.submit();
          });
        }
      });
    });
  });
</script>
<%- include('./js/js.ejs') %>
