<!--Modal-->
<div
  class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
>
  <div
    class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"
  ></div>

  <div
    class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto"
  >
    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="modal-content py-4 text-left px-6">
      <!--Title-->
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold">Catatan</p>
        <div class="modal-close cursor-pointer z-50">
          <svg
            class="fill-current text-black"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
          >
            <path
              d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
            ></path>
          </svg>
        </div>
      </div>

      <!--Body-->
      <form id="redesignreject" method="POST">
        <textarea
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          id="catatan"
          rows="5"
          name="catatan"
          required
        ></textarea>
        <!-- red small text -->
        <p id="harusdiisi" class="text-red-500 harusdiisi text-xs italic"></p>

        <!--Footer-->
        <div class="flex justify-end pt-2">
          <a
            ><button
              id="submitmodal"
              class="px-4 submitmodal bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2"
            >
              Submit
            </button></a
          >
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  var openmodal = document.querySelectorAll(".modal-open");

  for (var i = 0; i < openmodal.length; i++) {
    openmodal[i].addEventListener("click", function (event) {
      event.preventDefault();
      toggleModal();
    });
  }

  var submitmodal = document.getElementById("submitmodal");
  // if textarea catatan is empty, prevent submit
  submitmodal.addEventListener("click", function (event) {
    event.preventDefault();
    var catatan = document.getElementById("catatan").value;
    if (catatan == "") {
      //type catatan tidak boleh kosong under textarea with red color
      document.getElementById("harusdiisi").innerText =
        "Catatan cannot be empty";
    } else {
      // document.getElementById("redesignreject").submit();
    }
  });

  const overlay = document.querySelector(".modal-overlay");
  overlay.addEventListener("click", toggleModal);

  var closemodal = document.querySelectorAll(".modal-close");
  for (var i = 0; i < closemodal.length; i++) {
    closemodal[i].addEventListener("click", toggleModal);
  }

  document.onkeydown = function (evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
      isEscape = evt.key === "Escape" || evt.key === "Esc";
    } else {
      isEscape = evt.keyCode === 27;
    }
    if (isEscape && document.body.classList.contains("modal-active")) {
      toggleModal();
    }
  };

  function toggleModal() {
    const body = document.querySelector("body");
    const modal = document.querySelector(".modal");
    modal.classList.toggle("opacity-0");
    modal.classList.toggle("pointer-events-none");
    body.classList.toggle("modal-active");
  }

  const form = document.getElementById('redesignreject');
  const btn = document.getElementById('submitmodal');

  btn.addEventListener('click', (e) => {
    e.preventDefault()

    const reject = document.getElementById('catatan').value;
    if(reject !== ""){
    
      Swal.fire({
        title: "Success!",
        text: "",
        icon: "success",
      }).then((result) => {
        if (result.isConfirmed) {
          toggleModal();
          form.submit();
        }
      })
    }
  })
</script>
