<div class="max-w-7xl bg-white rounded-lg overflow-hidden shadow-md">
<form id="pilihmitraform" action="" method="post" class="w-full p-6">
    <div class="md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
          for="inline-full-name"
        >
          Mitra
        </label>
      </div>
      <div class="relative md:min-w-max z-10">
        <select
          name="mitra"
          class="bg-white appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" 
          id="selectMitra"
          onchange="dropdown(this.id)"
          type="text"
        >
          <option value="">Choose Mitra</option>
          <% mitra.forEach(function (mitra) { %>
          <option value="<%= mitra.name %>"><%= mitra.name %></option>
          <% })%>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>    
    </div>
    <div class="md:flex md:items-center mb-1">
        <div class="md:w-1/3"></div>
      </div>
      <div class="md:items-end">
        <div class="md:flex md:w-full justify-end">
          <input
            id="submit-btn"
            class="shadow-lg bg-green-500 hover:bg-white hover:text-green-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" style="outline-style: solid; outline-color: #39b846; outline-width: 2px;"
            type="submit"
            
          >
            
        </input>
        </div>
      </div>
  </form>
</div>

<script>
    const form = document.getElementById("pilihmitraform");
    const btn = document.getElementById("submit-btn");
    
    btn.addEventListener("click", (e) => {
      const select1 = document.getElementById('selectMitra').value

      e.preventDefault()
  
      if (select1 === "") {
          Swal.fire({
              title: "Error",
              text: "All Fields Must Be Filled In!",
              icon: "error",
          });
          return;
      }
  
      Swal.fire({
          title: "Select Mitra",
          text: select1 + " Have Been Successfully Selected!",
          icon: "success",
      }).then((result) => {
        if (result.isConfirmed) {
          form.submit();
        }
      })
  });
</script>

  <%- include('./js/js.ejs') %>
  