<div
  class="bg-green-100 rounded-lg py-5 px-6 mb-4 text-base text-green-700 mb-3"
  role="alert"
>
Thank You Your QE Proposal Has Been Recorded With the Following Fata
</div>

<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-center">
          <tbody>
            <tr class="border-b bg-blue-100 border-blue-200">
              <td
                class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
              >
                QE ID
              </td>
              <td
                class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
              >
                <%= idProposal %>
              </td>
            </tr>
            <tr class="border-b bg-blue-100 border-blue-200">
              <td
                class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
              >
                Nama STO
              </td>
              <td
                class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
              >
                <%= namaSTO %>
              </td>
            </tr>
            <tr class="border-b bg-blue-100 border-blue-200">
              <td
                class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
              >
                Segmen
              </td>
              <td
                class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
              >
                <%= segmen %>
              </td>
            </tr>
            <tr class="border-b bg-blue-100 border-blue-200">
              <td
                class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
              >
                Nama Alpro
              </td>
              <td
                class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
              >
                <%= namaAlpro %>
              </td>
            </tr>
            <tr class="border-b bg-blue-100 border-blue-200">
              <td
                class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
              >
                Jenis QE
              </td>
              <td
                class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
              >
                <%= jenisQE %>
              </td>
            </tr>
            <% if (koordinat) { %>
            <tr class="border-b bg-blue-100 border-blue-200">
              <td
                class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
              >
                Koordinat
              </td>
              <td
                class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
              >
                <%= koordinat %>
              </td>
            </tr>
            <% } %> <% if (keterangan) { %>
            <tr class="border-b bg-blue-100 border-blue-200">
              <td
                class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
              >
                Keterangan
              </td>
              <td
                class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
              >
                <%= keterangan %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="md:flex md:items-center">
  <div class="md:w-1/3"></div>
  <div class="md:w-2/3">
    <a
      href="/<%= pindah %>"
      class="inline-block float-right px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out"
      >OK</a
    >
  </div>
</div>

<%- include('./js/js.ejs') %>
