<div class="max-w-7xl bg-white rounded-lg overflow-hidden shadow-md">
  <form id ="formproposal" action="/qereportlist" method="post" class="w-full p-6">
    <div class="md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
          for="inline-full-name"
        >
          Nama STO
        </label>
      </div>
      <div class="relative md:min-w-max z-10">
        <select required
          name="namaSTO"
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          id="sel1"
          onchange="dropdown(this.id,'sel2','sel3')"
          type="text"
        >
          <option value=""disabled selected hidden>Choose Nama STO</option>
          <% namaSTO.forEach(function (namasto) { %>
          <option value="<%= namasto.name %>"><%= namasto.name %></option>
          <% })%>
        </select>
        <p id="namastodiisi" class="text-red-500 text-xs italic "></p>
  
      </div>
    </div>
    <div class="md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
          for="inline-password"
        >
          Segmen
        </label>
      </div>
      <div class="relative md:min-w-max z-10">
        <select required
          name="segmen"
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          id="sel2"
          onchange="dropdown('sel1',this.id,'sel3');jenisqematch()"
          type="text"
        > 
          <option value=""disabled selected hidden>Choose Segmen</option>
          <% segmen.forEach(function (segmen) { %>
          <option value="<%= segmen.name %>"><%= segmen.name %></option>
          <% })%>
        </select>
        <p id="segmendiisi" class="text-red-500 text-xs italic "></p>
      </div>
    </div>
    <div class="md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
          for="inline-password"
        >
          Nama Alpro
        </label>
      </div>
      <div class="relative md:min-w-max z-10">
        <select 
          name="namaAlpro"
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          id="sel3"
          type="text"
          required
        > 
        </select>
        <p id="alprodiisi" class="text-red-500 text-xs italic "></p>
        
      </div>
    </div>
    <div class="md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
          for="inline-password"
        >
          Jenis QE
        </label>
      </div>
      <div class="relative md:min-w-max z-10">
        <select
          name="jenisQE"
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          id="QE"
          type="text"
        >
          <option value=""disabled selected hidden>Choose QE</option>

        </select>
        <p id="qediisi" class="text-red-500 text-xs italic "></p>
      </div>
    </div>
    <div class="md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
          for="inline-password"
        >
          Bulan
        </label>
      </div>
      <div class="relative md:min-w-max z-10">
        <select
          name="bulan"
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          id="bulan"
          type="text"
        >
          <option value=""disabled selected hidden>Choose Month</option>
          <option value="Jan" >Januari</option>
          <option value="Feb" >Februari</option>
          <option value="Mar" >Maret</option>
          <option value="Apr" >April</option>
          <option value="May" >Mei</option>
          <option value="Jun" >Juni</option>
          <option value="Jul" >Juli</option>
          <option value="Aug" >Agustus</option>
          <option value="Sep" >September</option>
          <option value="Oct" >Oktober</option>
          <option value="Nov" >November</option>
          <option value="Dec" >Desember</option>



        </select>
        <p id="qediisi" class="text-red-500 text-xs italic "></p>
      </div>
    </div>

    <div class="md:flex md:items-center mb-1">
      <div class="md:w-1/3"></div>
    </div>
    <div class="md:items-end">
      <div class="md:flex md:w-full justify-end">
        <input
          id="submitproposal"
  
          class="shadow-lg bg-green-500 hover:bg-white hover:text-green-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" style="outline-style: solid; outline-color: #39b846; outline-width: 2px;"
          type="submit"
          
        >
          
      </input>
      </div>
    </div>
  </form>
</div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    var submitproposal = document.getElementById("submitproposal");
    // if textarea catatan is empty, prevent submit
    submitproposal.addEventListener("click", function (event) {
      event.preventDefault();
      var sel1 = document.getElementById("sel1").value;
      var sel2 = document.getElementById("sel2").value;
      var sel3 = document.getElementById("sel3").value;
      var jenisQE = document.getElementById("QE").value;
      if (sel1 == "") {
        //type catatan tidak boleh kosong under textarea with red color
        document.getElementById("namastodiisi").innerText =
          "Nama STO cannot be empty";
      } else {
        document.getElementById("namastodiisi").innerText = "";
      } 
      
      if(sel2 == ""){
        document.getElementById("segmendiisi").innerText =
          "Segmen cannot be empty";
      } else {
        document.getElementById("segmendiisi").innerText = "";
      } 

      if (sel1 != "" && sel2 != "" ) {
        document.getElementById("formproposal").submit();
      }
    });
    $('#sel1').select2(
      {
        placeholder: 'Choose Nama STO',
        allowClear: true
      }
    );
    $('#sel2').select2(
      {
        placeholder: 'Choose Segmen',
        allowClear: true
      }
    );
    $('#sel3').select2(
      {
        placeholder: 'Choose Nama Alpro',
        allowClear: true
      }
    );
    $('#QE').select2(
      {
        placeholder: 'Choose Jenis QE',
        allowClear: true
      }
    );
    $('#bulan').select2(
      {
        placeholder: 'Choose Bulan',
        allowClear: true
      }
    );
  </script>
  <%- include('./js/js.ejs') %>
  