<div class="max-w-7xl bg-white rounded-lg overflow-hidden shadow-md">
<form id="formuploadclose" action="" method="post" enctype="multipart/form-data" class="w-full p-6">
  <div class="md:items-center mb-6">
    <div class="md:w-1/3">
      <label
        class="block text-sm text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
        for="inline-full-name"
      >
        As Built Drawing
      </label>
    </div>
    <div class="relative md:min-w-max z-10">
        <!-- accept kml file -->
        <input id="designEvidence" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" accept=".kml, .pdf, .docx, image/*" name="designevidence" type="file">
    <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        
      </div>
    </div>
  </div>
  <div class="md:items-center mb-6">
    <div class="md:w-1/3">
      <label
        class="block text-sm text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
        for="inline-password"
      >
       BOQ Aktual
      </label>
    </div>
    <div class="relative md:min-w-max z-10">
        <input id="rabEvidence" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" accept=".xlsx,.xls,.csv" name="rabevidence" type="file">
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        
      </div>
    </div>
  </div>
    <div class="md:items-center mb-6">
    <div class="md:w-1/3">
      <label
        class="block text-sm text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
        for="inline-password"
      >
        Jumlah Biaya
      </label>
    </div>
    <div class="relative md:min-w-max z-10">
        <input id="rabAktual" type="number" name="nilairabevidence" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="inline-password" placeholder="Nilai RAB">

    </div>
  </div>

  <div class="md:flex md:items-end">
    <div class="md:flex md:w-full justify-end">
      <input
        id="submit-btn"
        class="shadow-lg bg-green-500 hover:bg-white hover:text-green-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" style="outline-style: solid; outline-color: #39b846; outline-width: 2px;"
        type="submit"
        
      >
        
    </input>
    </div>
  </div>
</form>
</div>

<script>
  const form = document.getElementById('formuploadclose');
  const btn = document.getElementById('submit-btn');

  btn.addEventListener('click', (e) => {
    const design = document.getElementById('designEvidence').value
    const rab = document.getElementById('rabEvidence').value
    const nilairab = document.getElementById('rabAktual').value
    e.preventDefault()

    if (design === "" || rab === "" || nilairab === "") {
        Swal.fire({
            title: "Error",
            text: "All Fields Must Be Filled In!",
            icon: "error",
        });
        return;
    }

    //if design filetype is not pdf or docx or image swal fire error
    const designExt = design.split('.').pop();
    const rabExt = rab.split('.').pop();
    if (designExt !== "pdf" && designExt !== "docx" && designExt !== "kml" && designExt !== "png" && designExt !== "jpg" && designExt !== "jpeg") {
        Swal.fire({
            title: "Error",
            text: "Incorrect File Format!",
            icon: "error",
        });
        return;
    }

    if (rabExt !== "xlsx" && rabExt !== "xls" && rabExt !== "csv") {
        Swal.fire({
            title: "Error",
            text: "Incorrect File Format!",
            icon: "error",
        });
        return;
    }

    Swal.fire({
      title: 'Upload Design Evidence & RAB Evidence',
      text: "Are You Sure Want To Upload Design Evidence And RAB Evidence Attached?",
      
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, Upload it!',
      
    }).then((result) => {
      if (result.isConfirmed) {
        // e.preventDefault()
        // form.submit()
        Swal.fire({
          title: 'Success!',
          text: 'Successfully Upload Design Evidence and RAB Evidence',
          icon: 'success',
        }).then(() => {
          form.submit();
        })
      }
    })
  })

</script>


