<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rifan Skripsi</title>
    <meta name="description" content="" />
    <link rel="icon" href="/assets/favicon.ico">

    <!-- Tailwind -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet"> -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      @import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
      .font-family-karla {
        font-family: karla;
      }

      .submitted {
        background: #ff6384;
      }
      /* submitted hover */
      .submitted:hover {
        background: #ff96ac;
      }

      .needapproval {
        background: #36a2eb;
      }

      .needapproval:hover {
        background: #5eb4ef;
      }

      .approved {
        background: #ffce56;
      }

      .approved:hover {
        background: #ffd777;
      }

      .rejected {
        background: #4bc0c0;
      }

      .rejected:hover {
        background: #6ecccc;
      }

      .redesign {
        background: #9966ff;
      }

      .redesign:hover {
        background: #ad84ff;
      }

      .installation {
        background: #ff9f40;
      }

      .installation:hover {
        background: #ffb266;
      }

      .closed {
        background: #824f4f;
      }

      .closed:hover {
        background: #9b7272;
      }

      .modal {
        transition: opacity 0.25s ease;
      }
      body.modal-active {
        overflow-x: hidden;
        overflow-y: visible !important;
      }
      .bg-sidebar {
        background: #ffffff;
      }
      .cta-btn {
        color: #ed1e28;
      }
      .upgrade-btn {
        background: #ed1e28;
      }
      .upgrade-btn:hover {
        background: #ed1e28;
      }
      .active-nav-link {
        background: #de4a51;
        color: #ffffff;
      }
      .nav-item:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(248 113 113 / var(--tw-bg-opacity));
      }
      .account-link:hover {
        background: #de4a51;
      }
    </style>
  </head>
  <body onload="hidemenu();chart()" class="bg-gray-100 font-family-karla flex">
    <%- include('./nav') %>
    <div class="w-full flex flex-col h-screen overflow-y-hidden">
      <%- include('./header.ejs') %>
      <div class="w-full overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
          <%- include(`../${data}.ejs`) %>
        </main>
      </div>
    </div>

    <!-- AlpineJS -->
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <!-- Font Awesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
      integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
<%- include('../js/js.ejs') %>
